@model TeknikServisCore.Models.ViewModels.ProfileEditViewModel
@{
    ViewData["Title"] = "EditProfile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal" asp-controller="Profile" asp-action="EditProfile" asp-antiforgery="true" method="post">
                <div asp-validation-summary="All" class="text-danger">
                </div>
                <h2>@TempData["Message"]</h2>

                <div class="form-group row">
                    <label class="control-label col-md-3" asp-for="@Model.ProfileViewModel.UserName">Kullanıcı Adı </label>
                    <div class="col-md-9">
                        <input class="form-control" type="text" asp-for="@Model.ProfileViewModel.UserName" />
                        <span asp-validation-for="@Model.ProfileViewModel.UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3" asp-for="@Model.ProfileViewModel.Name">İsim</label>
                    <div class="col-md-9">
                        <input class="form-control" type="text" asp-for="@Model.ProfileViewModel.Name" />
                        <span asp-validation-for="@Model.ProfileViewModel.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3" asp-for="@Model.ProfileViewModel.Surname">Soyisim</label>
                    <div class="col-md-9">
                        <input class="form-control" type="text" asp-for="@Model.ProfileViewModel.Surname" />
                        <span asp-validation-for="@Model.ProfileViewModel.Surname" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3" asp-for="@Model.ProfileViewModel.Email">Email</label>
                    <div class="col-md-9">
                        <input class="form-control" type="email" asp-for="@Model.ProfileViewModel.Email" />
                        <span asp-validation-for="@Model.ProfileViewModel.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3" asp-for="@Model.ProfileViewModel.PhoneNumber">Telefon</label>
                    <div class="col-md-9">
                        <input class="form-control" type="text" asp-for="@Model.ProfileViewModel.PhoneNumber" />
                        <span asp-validation-for="@Model.ProfileViewModel.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3" asp-for="@Model.ProfileViewModel.BirthDate">Doğum Tarihi</label>
                    <div class="col-md-9">
                        <input class="form-control" type="date" asp-for="@Model.ProfileViewModel.BirthDate" />
                        <span asp-validation-for="@Model.ProfileViewModel.BirthDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3" asp-for="@Model.ProfileViewModel.Address">Adres</label>
                    <div class="col-md-9">
                        <input class="form-control" type="text" asp-for="@Model.ProfileViewModel.Address" />
                        <span asp-validation-for="@Model.ProfileViewModel.Address" class="text-danger"></span>
                    </div>
                </div>

                <input id="submit" class="btn btn-warning " type="submit" value="Güncelle" />
            </form>
        </div>
        <div class="col-md-6">
            @*//////////////////////*@
            <form class="form-horizontal" asp-controller="Profile" asp-action="EditPassword" asp-antiforgery="true" method="post">
                <div asp-validation-summary="All" class="text-danger">
                </div>
                <h2>@TempData["Message"]</h2>
                <div class="form-group row">
                    <label class="control-label col-md-3" asp-for="@Model.PasswordEditViewModel.OldPassword">Eski Şifre</label>
                    <div class="col-md-9">
                        <input class="form-control" type="password" asp-for="@Model.PasswordEditViewModel.OldPassword" />
                        <span asp-validation-for="@Model.PasswordEditViewModel.OldPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3" asp-for="@Model.PasswordEditViewModel.NewPassword">Şifre</label>
                    <div class="col-md-9">
                        <input class="form-control" type="password" asp-for="@Model.PasswordEditViewModel.NewPassword" />
                        <span asp-validation-for="@Model.PasswordEditViewModel.NewPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3" asp-for="@Model.PasswordEditViewModel.ConfirmNewPassword">Şifre Tekrar</label>
                    <div class="col-md-9">
                        <input class="form-control" type="password" asp-for="@Model.PasswordEditViewModel.ConfirmNewPassword" />
                        <span asp-validation-for="@Model.PasswordEditViewModel.ConfirmNewPassword" class="text-danger"></span>
                    </div>
                </div>

                <input id="submit" class="btn btn-warning " type="submit" value="Şifreyi Güncelle" />
            </form>

            @*@Html.PartialAsync("Partials/_EditPasswordPartial", Model.PasswordEditViewModel)*@


        </div>
    </div>
</div>
